/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	## Colors
	## Fonts
	## Mixins
# Typography
# Buttons
# Forms
# Header
# Footer
# Page Templates
    ## Homepage
    ## Default Template
# Blog
	## Index
	## Archives
	## Posts
    ## Widgets
# Print
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

img.aligncenter {
  display: block;
  margin: 0 auto 1rem;
}

img.alignright {
  display: block;
  margin: 0 auto 1rem;
  height: auto;
}

@media (min-width: 768px) {
  img.alignright {
    float: right;
    margin: 0 0 1rem 1rem;
  }
}

img.alignleft {
  display: block;
  margin: 0 auto 1rem;
  height: auto;
}

@media (min-width: 768px) {
  img.alignleft {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}

small {
  font-size: 60%;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar .navbar-toggler {
  border-color: transparent;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.copyright {
  margin: 1rem 0;
}

/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
article {
  margin-bottom: 2rem;
}

article.card .entry-header {
  padding-bottom: 0;
}

article.card .entry-content {
  padding-top: 0;
}

article.card .link-more {
  margin-right: -.75rem;
}

.entry-meta {
  margin-bottom: .5rem;
}

.entry-meta p {
  margin-bottom: .5rem;
}

.entry-meta .badge {
  margin: 0 .5rem .5rem 0;
}

.single-post .entry-header .aligncenter {
  width: 100%;
}

.single-post .entry-footer {
  margin: 2rem 0;
}

.widget {
  margin-bottom: 2rem;
}

.widget ul {
  list-style: none;
  padding: 0 0 0 1rem;
}

.widget li {
  line-height: 1.2;
}

.widget li + li {
  margin-top: .375rem;
}

/*--------------------------------------------------------------
# Print
--------------------------------------------------------------*/
@media print {
  .navbar a[href]:after,
  nav a[href]:after,
  p.meta a[href]:after,
  h1 a[href]:after {
    content: none !important;
  }
}
