.widget {
    margin-bottom: 2rem;

    ul {
        list-style: none;
        padding: 0 0 0 1rem;
    }

    li {
        line-height: 1.2;

        + li {
            margin-top: .375rem;
        }
    }
}
